stages:
  - docker-build-push
  - deploy

variables:
  DOCKER_IMAGE_NAME: christophermatthew31/vehiclerental-fe-2306245592
  IMAGE_TAG: $CI_COMMIT_SHORT_SHA

docker-build-push:
  stage: docker-build-push
  image: docker:latest
  before_script:
    - apk add --no-cache openssh bash rsync
    - mkdir -p ~/.ssh
    - echo "$EC2_SSH_KEY" > ~/.ssh/id_rsa
    - chmod 600 ~/.ssh/id_rsa
    - ssh-keyscan -H "$EC2_HOST" >> ~/.ssh/known_hosts
  script:
    - rsync -avz --delete --exclude=node_modules --exclude=.git . $EC2_USER@$EC2_HOST:~/app/vehicle-rental-2306245592-fe/
    - ssh $EC2_USER@$EC2_HOST "
        cd ~/app/vehicle-rental-2306245592-fe &&
        sudo docker build --build-arg VITE_API_URL=$VITE_API_URL -t $DOCKER_IMAGE_NAME:$IMAGE_TAG . &&
        echo '$DOCKER_PASSWORD' | sudo docker login -u '$DOCKER_USERNAME' --password-stdin &&
        sudo docker push $DOCKER_IMAGE_NAME:$IMAGE_TAG
      "
  only:
    - feat/praktikum-9


deploy:
  stage: deploy
  image: alpine:latest
  before_script:
    - apk add --no-cache openssh bash
    - mkdir -p ~/.ssh
    - echo "$EC2_SSH_KEY" > ~/.ssh/id_rsa
    - chmod 600 ~/.ssh/id_rsa
    - ssh-keyscan -H "$EC2_HOST" >> ~/.ssh/known_hosts 2>/dev/null || true
  script:
    - echo "Generating Kubernetes ConfigMap for Frontend..."
    - |
      printf "apiVersion: v1\nkind: ConfigMap\nmetadata:\n  name: vehicle-rental-2306245592-fe-config\n  namespace: default\ndata:\n  VITE_API_URL: \"%s\"\n  NODE_ENV: \"%s\"\n" \
      "$VITE_API_URL" "$NODE_ENV" > configmap.yaml
    - sed "s|REPLACE_ME_TAG|$IMAGE_TAG|g" k8s/deployment.yaml > deployment.yaml
    - echo "Deploying -> deployment.yaml, configmap.yaml, service.yaml, ingress.yaml"
    - ssh $EC2_USER@$EC2_HOST "mkdir -p ~/app/vehicle-rental-2306245592-fe/k8s"
    - scp deployment.yaml configmap.yaml k8s/service.yaml k8s/ingress.yaml $EC2_USER@$EC2_HOST:~/app/vehicle-rental-2306245592-fe/k8s/
    - |
      ssh $EC2_USER@$EC2_HOST "
        sudo KUBECONFIG=/etc/rancher/k3s/k3s.yaml kubectl apply -f ~/app/vehicle-rental-2306245592-fe/k8s/ &&
        sudo KUBECONFIG=/etc/rancher/k3s/k3s.yaml kubectl rollout restart deployment/vehicle-rental-2306245592-fe &&
        sudo docker image prune -a -f &&
        sudo docker container prune -f
      "
  only:
    - feat/praktikum-9
